body {
    background-color: grey;
}

h1 {
    position: relative;
    color: orangered;
    left: 20%;
    width: 50%;
}
h2 {
    position: relative;
    color: darkgreen;
    left: 20%;
    width: 50%;
}

#main-container {
    position: relative;
    left: 40%;
    top: 207px;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background-color: darkslategray;
}

#temps {
    position: relative;
    text-align: center;
    top: 30%;
    font-family: passion one, sans-serif;
    font-size: 1.2em;
}

#outfit {
    position: relative;
    text-align: center;
    top: 14%;
    font-family: passion one, sans-serif;
    font-size: 1.2em;
}

.copy {
    position: fixed;
    top: 511px;
    left: 49%;
}